#courses{
    display: block;
    margin: 20px 534px;
}
.container-card{
   margin: -37px 45px;
   justify-content: center;
}
.card {
    display: flex;
    float: left;
    width: 280px;
    height: 300px;
    border-radius: 5px;
    border: 5px solid black;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
margin: 50px;
}

.card:hover {
    opacity: 0.8;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.cd-container {
padding: 2px 16px;

}
