
*{
    padding: 0;
    margin: 0;
}

/* Dropdown Button */
.nav{
  justify-content: center;
    color: white;
    background-color: black;
    font-family:cursive;
}

.nav-home
{
  color: white;
  text-decoration: none;
  margin: 15px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  /* dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      background-color: black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: black;}
  .dropdown:hover .dropdown-content {display: block;}
.sylla-img
{
  display: inline-block;
margin-left: 75px;
margin-top: 15px;
text-align: center;
}
  .center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    }
.link-fees{
 
  color: white;
}
.link-fees li{
  list-style: none;

}
.link-fees li a{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(53, 164, 207);
 color: rgb(13, 13, 185);
font-family: cursive;
font-weight: bold;
text-align: center;
}
h6{
  
  font-family:cursive;
  font-weight: bold;
  color: rgb(62, 16, 105);
}
h1{color: brown;
  font-style: oblique;


}
h4{
  color: brown;
  font-style: oblique;
}
h3{
  color: rgb(21, 17, 235);
  font-style: oblique;
  font-family: 'Times New Roman', Times, serif;

}
h5{
  color: rgb(8, 38, 207);
  font-style: oblique;

}

#about-us .img-about{
  margin: 12px;
  float: left;
  width: 40vw;
}
.about-para{
  position: relative;
  margin: 100px;
   
}
p{
  font-style: oblique;
 
}

.video-home{
  text-align: center;

}
@media screen and(max-width: 700px) {
  .video-home{
    text-align: center;
  
  } 
  
}
@media screen and(max-width: 500px) {
  .video-home{
    text-align: center;
  
  } 
  
}
#footer-yash
{
  margin: 100px 0px 0px;
}
