
*{
    padding: 0;
    margin: 0;
}

/* Dropdown Button */
.nav{
  justify-content: center;
    color: white;
    background-color: black;
    font-family:cursive;
}

.nav-home
{
  color: white;
  text-decoration: none;
  margin: 15px;
}
.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  /* dropdown */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
      background-color: black;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {background-color: black;}
  .dropdown:hover .dropdown-content {display: block;}
h6{
  
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(98, 14, 177);
}
h1{color: brown;
  font-style: oblique;
  text-decoration: underline;

}
h3{
  color: rgb(8, 38, 207);
  font-style: oblique;

}
h5{
  color: rgb(8, 38, 207);
  font-style: oblique;

}
#about-us .img-about{
  margin: 12px;
  float: left;
  width: 40vw;
}
.about-para{
  position: relative;
  margin: 100px;
   
}
p{
  font-style: oblique;
 
}


